<div class="adjustment-container">
  <h3 class="title-large">Novo Ajuste</h3>
  <div class="data-inputs" [formGroup]="form">
    <div class="inputs">
      <mat-form-field class="input" appearance="outline">
        <input
          matInput
          minlength="10"
          maxlength="10"
          placeholder="Data do Ajuste"
          [matDatepicker]="picker"
          formControlName="data"
        />
        <mat-error
          *ngIf="
            form.get('data')?.hasError('required') ||
            form.get('data')?.hasError('invalidDate')
          "
        >
          Insira uma data válida.
        </mat-error>
        <mat-datepicker-toggle matIconSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="input" appearance="outline">
        <input
          matInput
          type="text"
          class="number-input body-large"
          placeholder="Valor Total"
          formControlName="valor_tot"
          mask="separator.2"
          thousandSeparator="."
          decimalMarker=","
          [leadZero]="true"
          maxlength="16"
          prefix="R$ "
        />
        <mat-error *ngIf="form.get('valor_tot')?.hasError('required')">
          Insira o valor total do ajuste.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input" appearance="outline">
        <input
          matInput
          class="number-input body-large"
          [placeholder]="quantidadePlaceholder"
          formControlName="qtd_mov"
          mask="separator.4"
          thousandSeparator="."
          decimalMarker=","
          [leadZero]="true"
          maxlength="16"
        />
        <mat-error *ngIf="form.get('qtd_mov')?.hasError('required')">
          Insira a quantidade do ajuste.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input" appearance="outline">
        <mat-select placeholder="Movimentação" formControlName="is_entry">
          <mat-option [value]="false">Saída de Material</mat-option>
          <mat-option [value]="true">Entrada de Material</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('is_entry')?.hasError('required')">
          Escolhar o tipo de movimentação.
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="textarea" appearance="outline">
      <textarea
        matInput
        placeholder="Insira um comentário..."
        cdkAutosizeMinRows="4"
        cdkTextareaAutosize
        maxlength="200"
        #autosize="cdkTextareaAutosize"
        formControlName="comentario"
      ></textarea>
      <mat-error *ngIf="form.get('comentario')?.hasError('required')">
        Insira um comentário.
      </mat-error>
    </mat-form-field>
  </div>
  <div class="buttons">
    <app-normal-button
      mat-dialog-close
      [filled]="true"
      (click)="saveData()"
      [inactive]="!form.valid ? true : false"
      [disabled]="!form.valid ? true : false"
    >
      Salvar
    </app-normal-button>
    <app-normal-button mat-dialog-close> Cancelar </app-normal-button>
  </div>
</div>
