<div class="item-container">
  <h3 class="title-large">
    Novo Fornecedor
  </h3>
  <div
    class="inputs"
    [formGroup]="SupplierData"
  >
    <mat-form-field
      class="input"
      appearance="outline"
    >
      <input
        matInput
        type="string"
        class="number-input body-large"
        placeholder="CNPJ"
        formControlName="cnpj"
        mask="00.000.000/0000-00"
      />
    </mat-form-field>
    <mat-form-field
      class="input"
      appearance="outline"
    >
      <input
        matInput
        type="string"
        class="number-input body-large"
        placeholder="Razão Social"
        formControlName="razao_social"
      />
    </mat-form-field>
  </div>
  <div class="buttons">
    <app-normal-button
      mat-dialog-close
      [filled]="true"
      (click)="saveData()"
    >
      Salvar
    </app-normal-button>
    <app-normal-button mat-dialog-close> Cancelar </app-normal-button>
  </div>
</div>