<div class="page-container">
  <app-sidebar [filtersHidden]="true" />
  <div class="main-content">
    <header class="header">
      <app-page-title [pageTitle]="pageTitle" />
      <mat-form-field class="search-input" appearance="outline">
        <mat-label>Pesquisar por Razão Social ou CNPJ</mat-label>
        <input matInput type="text" class="number-input" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </header>
    <div class="table-spacer">
      <div *ngIf="tableData.length !== 0" class="table-container">
        <div class="table-header">
          <p class="data body-medium">Data de Criação</p>
          <p class="cnpj body-medium">CNPJ</p>
          <p class="razao body-medium">Razão Social</p>
          <p class="nfes body-medium">Notas Fiscais</p>
        </div>
        <div
          *ngFor="let row of tableData"
          class="table-row"
          (click)="openEditItem(row)"
        >
          <p class="data body-medium">{{ getFormattedDate(row.createdAt) }}</p>
          <p class="cnpj body-medium">{{ getFormattedCnpj(row.cnpj) }}</p>
          <p class="razao body-medium">{{ row.razao_social }}</p>
          <p class="nfes body-medium">{{ row.notas_vinculadas }}</p>
        </div>
      </div>
      <div *ngIf="tableData.length === 0 && !loading" class="empty-container">
        <mat-icon class="empty-icon">web_asset_off</mat-icon>
        <h2 class="title-large">Nenhum item para ser exibido aqui!</h2>
      </div>
      <div *ngIf="loading" class="loading-container">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>
    </div>
    <app-paginator [data]="paginatorData" />
    <div class="button-container">
      <app-normal-button (click)="openNewItem()" [filled]="true">
        Incluir Novo
      </app-normal-button>
    </div>
  </div>
</div>
