.info-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  height: 50px;
  padding: 20px;
  border: 0.5px solid var(--cinza-2);
  border-radius: 10px;

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--cinza-1);
    border-radius: 5px;

    mat-icon {
      width: 32px;
      height: 32px;
      font-size: 32px;
      color: var(--cinza-3);
    }
  }

  .data-container {
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 120px;

    .card-data,
    .card-title {
      margin: 0;
    }

    .card-title {
      overflow: hidden;
      color: var(--cinza-3);
      text-overflow: ellipsis;
    }

    .card-data {
      overflow: hidden;
      color: var(--base-preto);
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}