.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;

  h3 {
    margin: 0;
  }

  .inputs {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    .input {
      width: 310px;

      .number-input {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &[type="number"] {
          appearance: textfield;
          -moz-appearance: textfield;
        }
      }
    }

    ::ng-deep .mat-mdc-text-field-wrapper {
      height: 38px !important;
    }

    ::ng-deep .mat-mdc-input-element {
      position: relative !important;
      top: -5px !important;
    }

    ::ng-deep .mat-mdc-select-trigger {
      position: relative !important;
      top: -8px !important;
    }

    ::ng-deep .mat-mdc-form-field-error-wrapper {
      padding: 0;
      padding-top: 2px;
    }

    ::ng-deep .mat-mdc-button-touch-target,
    ::ng-deep .mat-mdc-icon-button {
      height: 30px;
      width: 30px;
    }

    ::ng-deep .mat-datepicker-toggle-default-icon {
      position: absolute;
      bottom: 8%;
      right: 10%;
    }

    ::ng-deep .mat-mdc-form-field-icon-suffix {
      right: 2%;
      padding-bottom: 18px;
    }

    ::ng-deep .mdc-text-field--outlined.mdc-text-field--disabled .mdc-text-field__input {
      color: var(--cinza-2);
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
}
