<div class="item-container">
  <h3 class="title-large">
    Editar Nota Fiscal
  </h3>
  <div
    class="inputs"
    [formGroup]="form"
  >
    <mat-form-field
      class="input"
      appearance="outline"
    >
      <input
        matInput
        type="text"
        class="number-input body-large"
        placeholder="Número da Nota"
        formControlName="numero"
        mask="999999999"
        [specialCharacters]="[]"
      />
      <mat-error *ngIf="form.get('numero')?.hasError('required')">
        Insira o número da nota fiscal.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="input"
      appearance="outline"
    >
      <input
        matInput
        minlength="10"
        maxlength="10"
        placeholder="Data de Emissão"
        [matDatepicker]="picker"
        formControlName="data_emissao"
      >
      <mat-error
        *ngIf="form.get('data_emissao')?.hasError('required') || form.get('data_emissao')?.hasError('invalidDate')"
      >
        Insira uma data válida.
      </mat-error>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      >
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field
      class="input"
      appearance="outline"
    >
      <mat-select
        placeholder="Fornecedor"
        formControlName="id_fornecedor"
      >
        <!-- TODO Incluir pesquisa neste select -->
        <mat-option
          *ngFor="let item of selectData"
          [value]="item.id.toString()"
        >{{ getFormattedCnpj(item.cnpj) + " - " + item.razao_social }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('id_fornecedor')?.hasError('required')">
        Escolhar o emitente.
      </mat-error>
    </mat-form-field>
  </div>
  <div class="buttons">
    <app-normal-button
      mat-dialog-close
      [filled]="true"
      (click)="saveData()"
      [inactive]="!form.valid ? true : false"
      [disabled]="!form.valid ? true : false"
    >
      Salvar
    </app-normal-button>
    <app-normal-button mat-dialog-close> Cancelar </app-normal-button>
  </div>
</div>