.paginator-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  p {
    user-select: none;
    margin: 0;
    margin-top: 2px;
  }

  .pages {
    width: 120px;
    color: var(--base-preto);
    text-align: center;
  }

  .back-button,
  .forward-button {
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin: 0;
    padding: 2px 4px;
    border-radius: 5px;
    color: var(--cinza-1);
    text-align: center;
  }

  .active {
    cursor: pointer;
    color: var(--cinza-3);
  }
}