<div class="page-container">
  <app-side-bar [filtersHidden]="true" />
  <div class="main-content">
    <app-header [pageTitle]="pageTitle" />
    <div class="table-spacer">
      <div class="table-container">
        <div class="table-header">
          <p class="data body-medium">Data de Criação</p>
          <p class="lot body-medium">Lote de Compra</p>
          <p class="qtd body-medium">Itens Vinculados</p>
        </div>
        <div
          *ngFor="let row of lotsTableData"
          class="table-row"
        >
          <p class="data body-medium">{{ getFormattedDate(row.createdAt) }}</p>
          <p class="lot body-medium">{{ row.numero }}</p>
          <p class="qtd body-medium">{{ row.itens_vinculados }}</p>
        </div>
      </div>
    </div>
    <app-paginator [data]="paginatorData" />
    <div class="button-container">
      <app-normal-button
        (click)="openNewItem('100ms', '100ms')"
        [filled]="true"
      >
        Incluir Novo
      </app-normal-button>
    </div>
  </div>
</div>