.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;

  h3 {
    margin: 0;
    margin-bottom: 10px;
  }

  .inputs {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    .input {
      width: 310px;

      .number-input {

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &[type=number] {
          appearance: textfield;
          -moz-appearance: textfield;
        }
      }
    }

    ::ng-deep .mat-mdc-text-field-wrapper {
      height: 38px !important;
    }

    ::ng-deep .mat-mdc-input-element {
      position: relative !important;
      top: -5px !important;
    }

    ::ng-deep .mat-mdc-select-trigger {
      position: relative !important;
      top: -8px !important;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
}