.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 470px;
  padding: 20px;
}

.title {
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 10px;
}
