.page-container {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  padding-left: 80px;

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 100%;
    min-width: 700px;
    max-width: 1360px;
    box-sizing: border-box;
    height: 100vh;
    margin: 0 auto;
    padding: 22px 80px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .search-input {
        width: 450px;
        height: 56px;

        input {
          height: 24px;
        }

        mat-icon {
          cursor: pointer;
          color: var(--cinza-3);
        }
      }

      ::ng-deep .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
        border-top-left-radius: var(--mdc-shape-small, 10px) !important;
        border-bottom-left-radius: var(--mdc-shape-small, 10px) !important;
      }

      ::ng-deep .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
        border-top-right-radius: var(--mdc-shape-small, 10px) !important;
        border-bottom-right-radius: var(--mdc-shape-small, 10px) !important;
      }
    }

    .content-spacer {
      height: 100%;
      min-height: 200px;
      max-height: 740px;
      overflow-y: auto;

      .content-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: auto;
        padding: 10px 10px 0px 10px;
      }
    }

    .cards-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
    }

    .table-spacer {
      height: 100%;
      min-height: 200px;
      max-height: 664px;
      overflow-y: auto;

      .table-container {
        border: 0.5px solid var(--cinza-2);
        border-radius: 10px;

        .table-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 10px;
          border-bottom: 0.5px solid var(--cinza-2);

          p {
            margin: 0;
            color: var(--cinza-3);
          }
        }

        .table-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 0 10px;
          height: 30px;
          transition: background-color 0.2s;
          cursor: pointer;

          p {
            margin: 0;
          }

          &:hover {
            background-color: #efefef;
          }

          &:last-child {
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
          }

          &:not(:last-child) {
            border-bottom: 0.5px solid var(--cinza-2);
          }
        }
      }

      .empty-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        .empty-icon {
          color: var(--cinza-3);
          font-size: 40px;
          height: 40px;
          width: auto;
        }

        h2 {
          color: var(--cinza-3);
        }
      }

      .loading-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }

    .button-container {
      display: flex;
      justify-content: flex-end;

      .add-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: var(--primaria-2);
        cursor: pointer;
        border: none;
        border-radius: 5px;
        color: var(--base-branco);
      }
    }
  }
}
