@import "../../shared/styles/pages";

.main-content {
  align-items: center;
  box-sizing: border-box;

  .error {
    width: 100%;
    max-width: 1000px;
    margin: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid var(--cinza-2);
    font-size: 57px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    color: var(--cinza-3);
    text-align: center;
    letter-spacing: -0.25px;
  }

  .return-text {
    display: flex;
    justify-content: center;
    gap: 6px;

    h2 {
      display: inline-block;
      margin: 0;
      font-size: 28px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      line-height: auto;
      text-align: center;
    }
  }

  .return-link {
    cursor: pointer;
    color: var(--informativo-2);
  }
}
