<div class="side-bar-container">
  <mat-toolbar class="mat-toolbar-column">
    <div class="top-content">
      <img src="assets/logos/no-text-white.svg" alt="" />
      <app-icon-button (click)="toggleMenusDrawer()" [activated]="menusDrawer">
        menu
      </app-icon-button>
      <app-icon-button
        (click)="toggleFiltersDrawer()"
        [activated]="filtersDrawer"
        *ngIf="!filtersHidden"
      >
        filter_alt
      </app-icon-button>
      <app-icon-button (click)="returnPage()" *ngIf="filtersHidden">
        arrow_back
      </app-icon-button>
    </div>
    <span class="spacer"></span>
    <div class="bottom-content">
      <app-icon-button> person </app-icon-button>
      <app-icon-button (click)="logOut()"> logout </app-icon-button>
    </div>
  </mat-toolbar>

  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer1 class="drawer" mode="over" [opened]="menusDrawer">
      <div class="menus-drawer">
        <h2 class="drawer-title title-large">{{ getRoleName(this.role) }}</h2>
        <hr class="drawer-line" />
        <ng-container *ngFor="let option of menuOptions">
          <ng-container *ngIf="option.authorized.includes(role)">
            <app-menu-option (click)="goToPage(option.page)">{{
              option.title
            }}</app-menu-option>
          </ng-container>
        </ng-container>
      </div>
    </mat-drawer>
  </mat-drawer-container>

  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer2 class="drawer" mode="over" [opened]="filtersDrawer">
      <div class="filters-drawer">
        <h2 class="drawer-title title-large">Filtros</h2>
        <hr class="drawer-line" />
        <div class="menu-option">
          <div class="filter-option">
            <div class="checkbox">
              <!--  TODO melhorar este checkbox -->
              <mat-icon
                class="material-icons-outlined"
                (click)="toggleCheckbox('un')"
              >
                {{
                  filtersOptions.un ? "check_box" : "check_box_outline_blank"
                }}
              </mat-icon>
              <label
                class="body-large"
                for="un-medida"
                (click)="toggleCheckbox('un')"
                >Unidade de Medida</label
              >
            </div>
            <select
              name="un-medida"
              class="select-button body-medium"
              id="un-medida"
            >
              <option value="" selected disabled hidden>Selecione</option>
              <option value="kg" class="option">Kilogramas</option>
              <option value="l" class="option">Litros</option>
              <option value="gr" class="option">Gramas</option>
              <option value="ml" class="option">Mililitros</option>
            </select>
          </div>
          <hr class="drawer-line" />
          <div class="filter-option">
            <div class="checkbox">
              <mat-icon
                class="material-icons-outlined"
                (click)="toggleCheckbox('quantidade')"
              >
                {{
                  filtersOptions.quantidade
                    ? "check_box"
                    : "check_box_outline_blank"
                }}
              </mat-icon>
              <label class="body-large" (click)="toggleCheckbox('quantidade')"
                >Quantidade</label
              >
            </div>
            <div class="min-max">
              <input class="body-medium" type="number" placeholder="min" />
              <input class="body-medium" type="number" placeholder="max" />
            </div>
          </div>
          <hr class="drawer-line" />
          <div class="filter-option">
            <div class="checkbox">
              <mat-icon
                class="material-icons-outlined"
                (click)="toggleCheckbox('vlr_unit')"
              >
                {{
                  filtersOptions.vlr_unit
                    ? "check_box"
                    : "check_box_outline_blank"
                }}
              </mat-icon>
              <label class="body-large" (click)="toggleCheckbox('vlr_unit')"
                >Valor Unitário</label
              >
            </div>
            <div class="min-max">
              <input class="body-medium" type="number" placeholder="min" />
              <input class="body-medium" type="number" placeholder="max" />
            </div>
          </div>
          <hr class="drawer-line" />
          <div class="filter-option">
            <div class="checkbox">
              <mat-icon
                class="material-icons-outlined"
                (click)="toggleCheckbox('vlr_tot')"
              >
                {{
                  filtersOptions.vlr_tot
                    ? "check_box"
                    : "check_box_outline_blank"
                }}
              </mat-icon>
              <label class="body-large" (click)="toggleCheckbox('vlr_tot')"
                >Valor Total</label
              >
            </div>
            <div class="min-max">
              <input class="body-medium" type="number" placeholder="min" />
              <input class="body-medium" type="number" placeholder="max" />
            </div>
          </div>
          <hr class="drawer-line" />
          <div class="filter-option">
            <div class="checkbox">
              <mat-icon
                class="material-icons-outlined"
                (click)="toggleCheckbox('tag')"
              >
                {{
                  filtersOptions.tag ? "check_box" : "check_box_outline_blank"
                }}
              </mat-icon>
              <label class="body-large" (click)="toggleCheckbox('tag')"
                >Tag</label
              >
            </div>
            <select
              name="un-medida"
              class="select-button body-medium"
              id="un-medida"
            >
              <option value="" selected disabled hidden>Selecione</option>
              <option value="kg" class="option">Estoque Mínimo</option>
              <option value="l" class="option">Polícia Federal</option>
              <option value="gr" class="option">Polícia Civil</option>
              <option value="ml" class="option">Exército Brasileiro</option>
            </select>
          </div>
          <hr class="drawer-line" />
          <div class="filter-option">
            <div class="checkbox">
              <mat-icon
                class="material-icons-outlined"
                (click)="toggleCheckbox('localizacao')"
              >
                {{
                  filtersOptions.localizacao
                    ? "check_box"
                    : "check_box_outline_blank"
                }}
              </mat-icon>
              <label class="body-large" (click)="toggleCheckbox('localizacao')"
                >Localização no Estoque</label
              >
            </div>
            <input class="filter-input" placeholder="Localização" type="text" />
          </div>
          <div class="filters-button">
            <app-normal-button [filled]="true"> Filtrar </app-normal-button>
          </div>
        </div>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>
