<mat-toolbar class="mat-toolbar-column">
    <div class="top-content">
        <img src="assets/logos/no-text-white.svg" alt="">
        <button mat-icon-button class="button-icon">
            <mat-icon class="material-icons-outlined">menu</mat-icon>
        </button>
        <button mat-icon-button class="button-icon">
            <mat-icon class="material-icons-outlined">
                filter_alt
            </mat-icon>
        </button>
    </div>
    <span class="spacer"></span>
    <div class="bottom-content">
        <button mat-icon-button class="button-icon">
            <mat-icon class="material-icons-outlined">person</mat-icon>
        </button>
        <button mat-icon-button class="button-icon">
            <mat-icon class="material-icons-outlined">
                logout
            </mat-icon>
        </button>
    </div>
</mat-toolbar>