<div class="page-container">
  <app-sidebar [filtersHidden]="true" />
  <div class="main-content">
    <header class="header">
      <app-page-title [pageTitle]="pageTitle" />
      <mat-form-field class="search-input" appearance="outline">
        <mat-label>Pesquisar por Solicitante</mat-label>
        <input
          matInput
          type="text"
          class="number-input"
          [(ngModel)]="search"
          (keyup.enter)="doSearch()"
        />
        <button
          *ngIf="this.search"
          matSuffix
          mat-icon-button
          (click)="clearSearchValue()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <button matSuffix mat-icon-button (click)="doSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </header>
    <div class="table-spacer">
      <div *ngIf="tableData.length !== 0" class="table-container">
        <div class="table-header body-medium">
          <p class="numero body-medium">Nº Pedido</p>
          <p class="data body-medium">Data</p>
          <p class="status body-medium">Status</p>
          <p class="solicitante body-medium">Solicitante</p>
        </div>
        <div
          *ngFor="let row of tableData"
          class="table-row"
          (click)="openDetails(row.id)"
          matRipple
        >
          <p class="numero body-medium">{{ row.id }}</p>
          <p class="data body-medium">{{ getFormattedDate(row.createdAt) }}</p>
          <p
            class="status body-medium"
            [style.color]="getStatusColor(row.status)"
          >
            {{ getStatus(row.status) }}
          </p>
          <p class="solicitante body-medium">
            {{ row.responsavel_solicitacao.nome }}
          </p>
        </div>
      </div>
      <div
        *ngIf="tableData.length === 0 && !loading && showSearchError"
        class="empty-container"
      >
        <mat-icon class="empty-icon">search</mat-icon>
        <h2 class="title-large">Nenhum item encontrado!</h2>
      </div>
      <div
        *ngIf="tableData.length === 0 && !loading && !showSearchError"
        class="empty-container"
      >
        <mat-icon class="empty-icon">web_asset_off</mat-icon>
        <h2 class="title-large">Nenhum item para ser exibido aqui!</h2>
      </div>
      <div *ngIf="loading" class="loading-container">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>
    </div>
    <app-paginator [data]="paginatorData" />
  </div>
</div>
