<div class="item-container">
  <h3 class="title-large">Editar Reagente ou Material</h3>
  <div class="inputs" [formGroup]="form">
    <mat-form-field class="input" appearance="outline">
      <input
        matInput
        type="text"
        class="number-input body-large"
        placeholder="Código do Item"
        formControlName="cod"
        mask="999999999"
        [specialCharacters]="[]"
      />
      <mat-error *ngIf="form.get('cod')?.hasError('required')">
        Insira o código do item.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
      <input
        matInput
        type="text"
        class="number-input body-large"
        placeholder="Descrição do Item"
        formControlName="descricao"
      />
      <mat-error *ngIf="form.get('descricao')?.hasError('required')">
        Insira a descrição do item.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
      <input
        matInput
        type="text"
        class="number-input body-large"
        placeholder="Localização no Estoque"
        formControlName="loc_estoque"
        maxlength="6"
      />
    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
      <mat-select
        placeholder="Unidade de Medida"
        formControlName="id_un_de_medida"
      >
        <mat-option
          *ngFor="let item of selectData"
          [value]="item.id.toString()"
          >{{ item.nome }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="form.get('id_un_de_medida')?.hasError('required')">
        Escolha a unidade de medida.
      </mat-error>
    </mat-form-field>
  </div>
  <div class="buttons">
    <app-normal-button
      mat-dialog-close
      [filled]="true"
      (click)="openTags(dialogData.rowData.id, tags)"
      >Tags</app-normal-button
    >
    <app-normal-button
      mat-dialog-close
      [redColor]="deactivatable && active"
      [filled]="!active"
      [inactive]="!deactivatable"
      [disabled]="!deactivatable"
      (click)="changeActive(active)"
      >{{ active ? "Inativar" : "Ativar" }}</app-normal-button
    >
    <app-normal-button
      mat-dialog-close
      [filled]="true"
      (click)="saveData()"
      [inactive]="!form.valid ? true : false"
      [disabled]="!form.valid ? true : false"
    >
      Salvar
    </app-normal-button>
    <app-normal-button mat-dialog-close> Cancelar </app-normal-button>
  </div>
</div>
