<div class="data-inputs">
  <div class="inputs" [formGroup]="form">
    <div class="first-line">
      <mat-form-field class="select" appearance="outline">
        <!-- TODO Incluir pesquisa neste select -->
        <mat-select placeholder="Item" formControlName="id">
          <mat-option
            *ngFor="let item of tiposSelectData"
            [value]="item.id.toString()"
            >{{ item.cod + " - " + item.descricao }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="form.get('id')?.hasError('required')">
          Selecione um item.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="qtd" appearance="outline">
        <input
          matInput
          class="number-input body-large"
          placeholder="Quantidade"
          formControlName="qtd_mov"
          mask="separator.2"
          thousandSeparator="."
          decimalMarker=","
          [leadZero]="true"
          maxlength="16"
        />
        <mat-error *ngIf="form.get('qtd_mov')?.hasError('required')">
          Obrigatório.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="un" appearance="outline">
        <mat-select placeholder="UN" formControlName="peso_un">
          <mat-option *ngFor="let item of unsSelectData" [value]="item.peso">{{
            item.sigla
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('peso_un')?.hasError('required')">
          Selecione.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="second-line">
      <mat-form-field class="just" appearance="outline">
        <input
          matInput
          type="text"
          class="body-large"
          placeholder="Justificativa"
          formControlName="comentario"
        />
        <mat-error *ngIf="form.get('comentario')?.hasError('required')">
          Preencha uma justificativa.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="buttons">
    <button
      class="delete-button body-medium"
      (click)="deleteThisSection()"
      *ngIf="!isFirstItem"
    >
      <mat-icon class="material-icons-outlined"> remove </mat-icon>
    </button>
    <div *ngIf="isFirstItem" class="spacer"></div>
  </div>
</div>
