.data-inputs {
  display: flex;
  margin-bottom: 10px;
  gap: 20px;

  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;

    .first-line {
      display: flex;
      gap: 20px;
      width: 100%;

      .qtd {
        min-width: 120px;
        max-width: 120px;
      }

      .un {
        min-width: 80px;
        max-width: 80px;
      }

      .select {
        width: 100%;
      }
    }

    .second-line {
      width: 100%;

      .just {
        width: 100%;
      }
    }
  }

  .buttons {
    width: 40px;

    .delete-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      height: 40px;
      padding: 0 8px;
      background: var(--secundaria-2);
      cursor: pointer;
      border: none;
      border-radius: 5px;
      color: var(--base-branco);
    }
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    height: 40px !important;
  }

  ::ng-deep .mat-mdc-input-element {
    position: relative !important;
    top: -5px !important;
  }

  ::ng-deep .mat-mdc-form-field {
    height: 40px;
  }

  ::ng-deep .mat-mdc-select-trigger {
    position: relative !important;
    top: -8px !important;
  }

  ::ng-deep .mat-mdc-form-field-error-wrapper {
    padding: 0;
    padding-top: 2px;
  }
}
