<div class="page-container">
  <app-sidebar [filtersHidden]="false" />
  <div class="main-content">
    <header class="header">
      <app-page-title [pageTitle]="pageTitle" />
      <mat-form-field class="search-input" appearance="outline">
        <mat-label>Pesquisar por Código ou Descrição</mat-label>
        <input matInput type="text" class="number-input" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </header>
    <div class="cards-container">
      <app-info-card *ngFor="let card of infoCards" [card]="card" />
    </div>
    <div class="table-spacer">
      <div *ngIf="tableData.length !== 0" class="table-container">
        <div class="table-header">
          <p class="cod body-medium">Código</p>
          <p class="desc body-medium">Descrição</p>
          <p class="tags body-medium">Tags</p>
          <p class="estoque body-medium">Estoque Atual</p>
          <p class="un body-medium">Un</p>
          <p class="localizacao body-medium">Loc. no Estoque</p>
          <p class="valor-un body-medium">Valor Unitário</p>
          <p class="valor-tot body-medium">Valor Total</p>
        </div>
        <div
          *ngFor="let row of tableData"
          class="table-row"
          (click)="openHistory(row.id)"
          matRipple
        >
          <p class="cod body-medium">{{ row.cod }}</p>
          <p class="desc body-medium">{{ row.descricao }}</p>
          <app-tags [tags]="row.tags"></app-tags>
          <p class="estoque body-medium">
            {{
              (+row.estoque_atual / +row.un_de_medida.peso).toLocaleString(
                "pt-BR",
                { minimumFractionDigits: 2, maximumFractionDigits: 2 }
              )
            }}
          </p>
          <p class="un body-medium">{{ row.un_de_medida.sigla | uppercase }}</p>
          <p class="localizacao body-medium">{{ row.loc_estoque }}</p>
          <p class="valor-un body-medium">
            R$
            {{
              +row.estoque_atual !== 0
                ? (+row.vlr_estoque / +row.estoque_atual).toLocaleString(
                    "pt-BR",
                    {
                      minimumFractionDigits: 2,
                      maximumFractionDigits: 2
                    }
                  )
                : "0,00"
            }}
          </p>
          <p class="valor-tot body-medium">
            R$
            {{
              (+row.vlr_estoque).toLocaleString("pt-BR", {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2
              })
            }}
          </p>
        </div>
      </div>
      <div *ngIf="tableData.length === 0 && !loading" class="empty-container">
        <mat-icon class="empty-icon">web_asset_off</mat-icon>
        <h2 class="title-large">Nenhum item para ser exibido aqui!</h2>
      </div>
      <div *ngIf="loading" class="loading-container">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>
    </div>
    <app-paginator [data]="paginatorData" />
  </div>
</div>
