@import "../../shared/styles/pages";

.inactive {
  color: var(--cinza-2);
}

.buttons-spacer {
  width: 188px;
}

.cod {
  width: 60px;
}

.desc {
  width: 350px;
}

.tags,
app-tags {
  width: 200px;
}

.valor-estoque {
  width: 115px;
}

.estoque {
  width: 100px;
}

.un {
  width: 50px;
}

.localizacao {
  width: 120px;
}

.valor-estoque,
.estoque,
.un,
.localizacao,
.tags {
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
