<div class="page-container">
  <app-side-bar [filtersHidden]="true" />
  <div class="main-content">
    <app-header [pageTitle]="pageTitle" />
    <div class="table-spacer">
      <div class="table-container">
        <div class="table-header">
          <p class="cod body-medium">Código</p>
          <p class="desc body-medium">Descrição</p>
          <p class="tags body-medium">Tags</p>
          <p class="localizacao body-medium">Loc. no Estoque</p>
          <p class="estoque body-medium">Estoque Atual</p>
          <p class="un body-medium">Un</p>
          <p class="valor-estoque body-medium">Valor em Estoque</p>
        </div>
        <div
          *ngFor="let row of tableData"
          class="table-row"
          [ngClass]="{'inactive': !row.ativo}"
          (click)="openEditItem('100ms', '100ms', row)"
        >
          <p class="cod body-medium">{{ row.cod }}</p>
          <p class="desc body-medium">{{ row.descricao }}</p>
          <app-tags [tags]="row.tags"></app-tags>
          <p class="localizacao body-medium">{{ row.loc_estoque ? row.loc_estoque : '-' }}</p>
          <p class="estoque body-medium">{{
            (+(row.estoque_atual) / +(row.un_de_medida.peso))
            .toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })
            }}</p>
          <p class="un body-medium">{{ row.un_de_medida.sigla | uppercase }}</p>
          <p class="valor-estoque body-medium">R$ {{ (+row.vlr_estoque).toLocaleString('pt-BR', { minimumFractionDigits: 2,
            maximumFractionDigits: 2 }) }}</p>
        </div>
      </div>
    </div>
    <app-paginator [data]="paginatorData" />

    <div class="button-container">
      <app-normal-button
        (click)="openNewItem('100ms', '100ms')"
        [filled]="true"
      >
        Incluir Novo
      </app-normal-button>
    </div>
  </div>
</div>