.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  h3 {
    margin: 0;
    margin-bottom: 20px;
  }

  .inputs {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    .input {
      width: 310px;

      .number-input {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &[type="number"] {
          appearance: textfield;
          -moz-appearance: textfield;
        }
      }
    }

    ::ng-deep .mat-mdc-text-field-wrapper {
      height: 38px !important;
    }

    ::ng-deep .mat-mdc-input-element {
      position: relative !important;
      top: -5px !important;
    }

    ::ng-deep .mat-mdc-select-trigger {
      position: relative !important;
      top: -8px !important;
    }

    ::ng-deep .mat-mdc-form-field-error-wrapper {
      padding: 0;
      padding-top: 2px;
    }
  }

  .password-error {
    height: 24px;
    color: var(--erro-2);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 10px 0;
  }

  .requirements {
    display: flex;
    margin-bottom: 10px;
    gap: 5px;

    .requirements-text,
    .requirements-icons {
      display: flex;
      flex-direction: column;
      gap: 5px;

      p {
        margin: 0;
        height: 24px;
        justify-self: center;
        line-height: 24px;
      }

      .not-valid-icon {
        color: var(--cinza-1);
      }

      .valid-icon {
        color: var(--sucesso-2);
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
}
