<div class="item-container">
  <h3 class="title-large">Alterar Senha</h3>
  <div class="inputs" [formGroup]="form">
    <mat-form-field class="input" appearance="outline">
      <input
        matInput
        type="password"
        placeholder="Senha Atual"
        formControlName="old_password"
        autocomplete="new-password"
      />
      <mat-error *ngIf="form.get('old_password')?.hasError('required')">
        Insira a senha atual!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
      <input
        matInput
        type="password"
        placeholder="Nova Senha"
        formControlName="new_password"
      />
      <mat-error *ngIf="form.get('new_password')?.hasError('required')">
        Insira sua nova senha!
      </mat-error>
      <mat-error
        *ngIf="
          !form.get('new_password')?.hasError('required') &&
          form.get('new_password')?.hasError('notValid')
        "
      >
        Senha não atende os requisitos!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
      <input
        matInput
        type="password"
        placeholder="Confirme a Nova Senha"
        formControlName="confirm_password"
      />
      <mat-error *ngIf="form.get('confirm_password')?.hasError('required')">
        Confirme sua nova senha!
      </mat-error>
    </mat-form-field>
  </div>
  <p [ngClass]="{ 'password-error': changePasswordError !== '' }">
    {{ changePasswordError }}
  </p>
  <div class="requirements">
    <div class="requirements-icons">
      <mat-icon
        [ngClass]="{
          'valid-icon': hasMinLength,
          'not-valid-icon': !hasMinLength
        }"
        >check</mat-icon
      >
      <mat-icon
        [ngClass]="{ 'valid-icon': hasNumber, 'not-valid-icon': !hasNumber }"
        >check</mat-icon
      >
      <mat-icon
        [ngClass]="{
          'valid-icon': hasLowerCase,
          'not-valid-icon': !hasLowerCase
        }"
        >check</mat-icon
      >
      <mat-icon
        [ngClass]="{
          'valid-icon': hasUpperCase,
          'not-valid-icon': !hasUpperCase
        }"
        >check</mat-icon
      >
      <mat-icon
        [ngClass]="{
          'valid-icon': hasSpecialChar,
          'not-valid-icon': !hasSpecialChar
        }"
        >check</mat-icon
      >
    </div>
    <div class="requirements-text">
      <p>No mínimo 8 caracteres.</p>
      <p>Pelo menos um número.</p>
      <p>Pelo menos um caractere minúsculo.</p>
      <p>Pelo menos um caractere maiúsculo.</p>
      <p>Pelo menos um caractere especial.</p>
    </div>
  </div>
  <div class="buttons">
    <app-normal-button
      [filled]="true"
      (click)="saveData()"
      [inactive]="!form.valid ? true : false"
      [disabled]="!form.valid ? true : false"
    >
      Alterar
    </app-normal-button>
    <app-normal-button mat-dialog-close> Cancelar </app-normal-button>
  </div>
</div>
