@import "../../shared/styles/pages";

.data {
  width: 80px;
}

.forn-resp {
  width: 200px;
}

.nfe {
  width: 60px;
}

.valor-tot {
  width: 100px;
}

.quant {
  width: 75px;
}

.un {
  width: 50px;
}

.nfe,
.data,
.valor-tot,
.quant,
.un {
  text-align: center;
}

.table-icon-header {
  width: 18px;
  height: 18px;
  font-size: 18px;
  color: var(--cinza-3);
}

.table-icon-type {
  width: 18px;
  height: 18px;
  font-size: 18px;
  color: var(--cinza-3);
}
