.page-container {
  display: flex;
  flex-direction: row;

  .page-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 22px auto;

    .cards-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
    }

    .table-container {
      border: 0.5px solid var(--cinza-2);
      border-radius: 10px;

      .table-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 0.5px solid var(--cinza-2);

        p {
          overflow: hidden;
          margin: 0;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          color: var(--cinza-3);
          text-overflow: ellipsis;
          letter-spacing: 0.25px;
        }
      }

      .table-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 10px;
        transition: background-color 0.2s;
        cursor: pointer;

        p {
          margin: 0;
        }

        &:hover {
          background-color: #efefef;
        }

        &:last-child {
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }

      .table-row:not(:last-child) {
        border-bottom: 0.5px solid var(--cinza-2);
      }

      .cod {
        width: 60px;
      }

      .desc {
        width: 350px;
      }

      .tags {
        width: 200px;
      }

      .estoque,
      .valor-un,
      .valor-tot {
        width: 100px;
      }

      .un {
        width: 50px;
      }

      .localizacao {
        width: 120px;
      }

      .estoque,
      .valor-un,
      .valor-tot,
      .un,
      .localizacao {
        text-align: center;
      }

      .tags {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

      .tag {
        outline: 0.5px solid var(--base-branco);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 20px;
        padding: 0px 4px;
        background-color: var(--cinza-1);
        border-radius: 4px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        color: var(--cinza-3);
        text-align: center;
      }
    }
  }
}