@import "../../shared/styles/pages";

.cod {
  width: 60px;
}

.desc {
  width: 350px;
}

.tags,
app-tags {
  width: 200px;
}

.estoque,
.valor-un,
.valor-tot {
  width: 100px;
}

.un {
  width: 50px;
}

.localizacao {
  width: 120px;
}

.estoque,
.valor-un,
.valor-tot,
.un,
.localizacao,
.tags {
  text-align: center;
}
