<div class="login-bg">
  <div class="container">
    <section class="login-container">
      <header class="login-header">
        <img src="/assets/logos/colored.png" alt="Logo do Biopark" />
      </header>
      <div class="login-content">
        <div class="content" [formGroup]="form">
          <mat-form-field appearance="outline">
            <mat-label>RA</mat-label>
            <input
              matInput
              type="text"
              placeholder="Informe seu RA"
              formControlName="ra"
            />
            <mat-error *ngIf="form.get('ra')?.hasError('required')">
              Insira seu RA.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Código Único</mat-label>
            <input
              matInput
              type="text"
              placeholder="Informe seu Código Único"
              formControlName="codigo"
            />
            <mat-error *ngIf="form.get('codigo')?.hasError('required')">
              Insira seu código único.
            </mat-error>
          </mat-form-field>
          <hr />
          <p class="login-error">{{ registerError }}</p>
          <app-normal-button
            (click)="signup()"
            [filled]="true"
            [matRippleDisabled]="!form.valid"
            customWidth="258px"
            [inactive]="!form.valid ? true : false"
            [disabled]="!form.valid ? true : false"
          >
            Validar
          </app-normal-button>
          <app-normal-button customWidth="258px" (click)="return()"> Voltar </app-normal-button>
          <div class="small-spacer"></div>
        </div>
      </div>
    </section>
  </div>
</div>
