<div class="item-container">
  <h3 class="title-large">Novo Usuário</h3>
  <div class="inputs" [formGroup]="form">
    <mat-form-field class="input" appearance="outline">
      <input
        matInput
        type="text"
        class="body-large"
        placeholder="Nome"
        formControlName="nome"
      />
      <mat-error *ngIf="form.get('nome')?.hasError('required')">
        Insira o nome.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
      <input
        matInput
        type="email"
        class="body-large"
        placeholder="E-mail"
        formControlName="email"
      />
      <mat-error *ngIf="form.get('email')?.hasError('required')">
        Insira o E-mail.
      </mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email')">
        Formato inválido para e-mail.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
      <input
        matInput
        type="text"
        class="body-large"
        placeholder="RA"
        formControlName="ra"
        mask="9999999999"
        maxlength="10"
      />
      <mat-error *ngIf="form.get('ra')?.hasError('required')">
        Insira o RA.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
      <input
        matInput
        type="text"
        class="body-large"
        placeholder="CPF"
        mask="000.000.000-00"
        [validation]="false"
        formControlName="cpf"
      />
      <mat-error *ngIf="form.get('cpf')?.hasError('invalidLength')">
        CPF esta incompleto.
      </mat-error>
      <mat-error
        *ngIf="
          form.get('cpf')?.hasError('invalidRules') &&
          !form.get('cpf')?.hasError('invalidLength')
        "
      >
        CPF é inválido.
      </mat-error>
    </mat-form-field>
  </div>
  <div class="buttons">
    <app-normal-button
      mat-dialog-close
      [filled]="true"
      (click)="saveData()"
      [inactive]="!form.valid ? true : false"
      [disabled]="!form.valid ? true : false"
    >
      Salvar
    </app-normal-button>
    <app-normal-button mat-dialog-close> Cancelar </app-normal-button>
  </div>
</div>
