.small-button {
  outline: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 24px;
  background-color: var(--primaria-2);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: var(--base-branco);
}

.inactive {
  background-color: var(--cinza-2);
  cursor: auto;
  color: var(--base-branco);
}

.redColor {
  background-color: var(--secundaria-2);
}
