<div class="item-container">
  <h3 class="title-large">
    Editar Nota Fiscal
  </h3>
  <div class="inputs">
    <mat-form-field
      class="input"
      appearance="outline"
    >
      <input
        matInput
        type="string"
        class="number-input body-large"
        placeholder="Número da Nota"
      />
    </mat-form-field>
    <!-- TODO trocar o date input por datepicker -->
    <mat-form-field
      class="input"
      appearance="outline"
    >
      <input
        matInput
        type="string"
        class="number-input body-large"
        placeholder="Data de Emissão"
      />
    </mat-form-field>
    <mat-form-field
      class="input"
      appearance="outline"
    >
      <mat-select placeholder="Fornecedor">
        <!-- TODO Incluir pesquisa neste select -->
        <mat-option
          *ngFor="let item of selectData"
          [value]="item.id"
        >{{ getFormattedCnpj(item.cnpj) + " - " + item.razao_social }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="buttons">
    <app-normal-button
      mat-dialog-close
      [filled]="true"
    >
      Salvar
    </app-normal-button>
    <app-normal-button mat-dialog-close> Cancelar </app-normal-button>
  </div>
</div>