<div class="page-container">
  <app-sidebar [filtersHidden]="true" />
  <div class="main-content">
    <app-page-title [pageTitle]="pageTitle" />
    <div class="content-spacer">
      <div class="content-container">
        <div *ngFor="let form of formsArray; let i = index">
          <app-data-inputs
            [unsSelectData]="unsSelectData"
            [tiposSelectData]="tiposSelectData"
            [isFirstItem]="i === 0"
            [form]="form"
            (delete)="deleteSection(i)"
          ></app-data-inputs>
        </div>
        <div class="button-container">
          <button
            class="add-button body-medium"
            (click)="addNewSection()"
            matRipple
            matRippleColor="rgba(255, 255, 255, 0.1)"
          >
            <mat-icon class="material-icons-outlined"> add </mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="button-container">
      <app-normal-button
        (click)="saveData()"
        [filled]="true"
        [inactive]="!isFormsArrayValid()"
        [disabled]="!isFormsArrayValid()"
      >
        Salvar
      </app-normal-button>
    </div>
  </div>
</div>
