@import "../../shared/styles/pages";

.table-row:not(:last-child) {
  border-bottom: 0.5px solid var(--cinza-2);
}

.data {
  width: 120px;
}

.cnpj {
  width: 160px;
}

.nfes {
  width: 200px;
}

.cnpj,
.nfes {
  text-align: center;
}

.razao {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
