header {
  display: flex;
  flex-direction: row;
  height: 56px;
}

.page-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  mat-icon {
    height: 30px;
    width: 30px;
    font-size: 30px;
    color: var(/*COLOR GOES HERE*/);
  }

  h1 {
    margin: 0;
  }
}

.search-box {
  display: flex;
  align-items: center;
  width: 450px;
  height: 56px;
  max-width: 450px;
  box-sizing: border-box;
  border-radius: 28px;
  border: 0.5px solid var(--cinza-2);
  background: var(--base-branco);
  padding: 0 16px 0 24px;
  transition: border-color 0.3s;

  input {
    border: none;
    outline: none;
    height: auto;
    padding: 0;
    outline: none;
    width: auto;
    flex: 1 0 0;
    align-self: stretch;
    color: var(--cinza-2);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  mat-icon {
    color: var(--cinza-3);
    cursor: pointer;
  }
}

.search-box:focus-within {
  border: 0.6px solid var(--cinza-3);
}

.spacer {
  flex: 1 1 auto;
}
