<header>
  <div class="page-title title-large">
    <mat-icon
      class="title-icon material-icons-outlined"
      [style.color]="pageTitle.iconColor"
    >
      {{ pageTitle.icon }}
    </mat-icon>
    <h1 class="title-large">{{ pageTitle.title }}</h1>
  </div>
  <span class="spacer"></span>

  <mat-form-field
    class="search-input"
    appearance="outline"
    *ngIf="pageTitle.searchBox"
  >
    <mat-label>Pesquisar por Código ou Descrição</mat-label>
    <input
      matInput
      type="text"
      class="number-input"
      [(ngModel)]="searchInput"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <app-normal-button
    (click)="openAdjustment('100ms', '100ms')"
    *ngIf="pageTitle.adjustButton"
    [filled]="true"
  >
    Incluir Ajuste
  </app-normal-button>
</header>
