header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;

  .page-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    mat-icon {
      width: 30px;
      height: 30px;
      font-size: 30px;
    }

    h1 {
      margin: 0;
    }
  }

  .search-box {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 450px;
    max-width: 450px;
    height: 56px;
    padding: 0 16px 0 24px;
    transition: border-color 0.3s;
    background: var(--base-branco);
    border: 0.5px solid var(--cinza-2);
    border-radius: 28px;

    input {
      outline: none;
      flex: 1 0 0;
      align-self: stretch;
      width: auto;
      height: auto;
      padding: 0;
      border: none;
      color: var(--cinza-2);
    }

    mat-icon {
      cursor: pointer;
      color: var(--cinza-3);
    }
  }

  .search-box:focus-within {
    border: 0.6px solid var(--cinza-3);
  }

  .spacer {
    flex: 1 1 auto;
  }
}