/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

:root {
    /* Color styles */
    --base-branco: #FFFFFF;
    --base-preto: #000000;
    --primária-1: #395671;
    --primária-2: #283745;
    --primária-3: #1C252D;
    --secundária-1: #F06279;
    --secundária-2: #D82E4A;
    --secundária-3: #96152A;
    --erro-1: #F27373;
    --erro-2: #EF5252;
    --erro-3: #AA3B39;
    --aviso-1: #FFD08A;
    --aviso-2: #FF9800;
    --aviso-3: #6B4000;
    --sucesso-1: #C8E6C9;
    --sucesso-2: #459F49;
    --sucesso-3: #204A22;
    --informativo-1: #B1E4FC;
    --informativo-2: #1C93C9;
    --informativo-3: #014766;
    --cinza-1: #E2E2E2;
    --cinza-2: #A1A1A1;
    --cinza-3: #454545;

    /* Text-size styles */
    --títulos-grandes-large: 57px;
    --títulos-grandes-medium: 45px;
    --títulos-grandes-small: 36px;
    --títulos-médios-large: 32px;
    --títulos-médios-medium: 28px;
    --títulos-médios-small: 24px;
    --títulos-pequenos-large: 22px;
    --títulos-pequenos-medium: 16px;
    --títulos-pequenos-small: 14px;
    --corpo-large: 16px;
    --corpo-medium: 14px;
    --corpo-small: 12px;
    --rótulos-large-prominent: 14px;
    --rótulos-large: 14px;
    --rótulos-medium-prominent: 12px;
    --rótulos-medium: 12px;
    --rótulos-small: 11px;

    /* Effect styles */
    --elevações-1: 0px 1px 3px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
    --elevações-2: 0px 2px 6px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
    --elevações-3: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 4px 8px rgba(0, 0, 0, 0.15);
    --elevações-4: 0px 2px 3px rgba(0, 0, 0, 0.3), 0px 6px 10px rgba(0, 0, 0, 0.15);
    --elevações-5: 0px 4px 4px rgba(0, 0, 0, 0.3), 0px 8px 12px rgba(0, 0, 0, 0.15);

    /* Default page font*/
    font-family: 'Roboto', sans-serif;
}