@import "~normalize.css";

:root {
  /* Color styles */
  --base-branco: #ffffff;
  --base-preto: #000000;
  --primaria-1: #395671;
  --primaria-2: #283745;
  --primaria-3: #1c252d;
  --secundaria-1: #f06279;
  --secundaria-2: #d82e4a;
  --secundaria-3: #96152a;
  --erro-1: #f27373;
  --erro-2: #ef5252;
  --erro-3: #aa3b39;
  --aviso-1: #ffd08a;
  --aviso-2: #ff9800;
  --aviso-3: #6b4000;
  --sucesso-1: #a6e6a8;
  --sucesso-2: #459f49;
  --sucesso-3: #204a22;
  --informativo-1: #b1e4fc;
  --informativo-2: #1c93c9;
  --informativo-3: #014766;
  --cinza-1: #e2e2e2;
  --cinza-2: #a1a1a1;
  --cinza-3: #454545;

  /* Default page font*/
  font-family: "Roboto", sans-serif;

  .title-large {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  .title-medium {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  .title-small {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  .body-large {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  .body-medium {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
  }

  .body-small {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--cinza-1);
  border-radius: 4px;
}