@import "../../styles/dialogs";

.dialog-container {
  @extend .dialog-container;

  .inputs {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    .textarea {
      width: 460px;
    }
  }

  .buttons {
    @extend .buttons;
  }
}
