<div class="new-commentary-container">
  <div class="inputs">
    <mat-form-field
      class="textarea"
      appearance="outline"
    >
      <textarea
        matInput
        placeholder="Insira um comentário (opcional)"
        cdkAutosizeMinRows="4"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
      ></textarea>
    </mat-form-field>
  </div>
  <div class="buttons">
    <app-normal-button
      [filled]="true"
    >
      Salvar
    </app-normal-button>
    <app-normal-button mat-dialog-close> Cancelar </app-normal-button>
  </div>
</div>