.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;

  .page-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    mat-icon {
      width: 30px;
      height: 30px;
      font-size: 30px;
    }

    h1 {
      margin: 0;
    }
  }
}