@import "../../shared/styles/pages";

.nome,
.email {
  width: 200px;
}

.ra,
.perfil {
  width: 100px;
}

.cpf,
.data {
  width: 120px;
}

.email-confirmado {
  width: 140px;
}

.ra,
.cpf,
.perfil,
.email-confirmado,
.email {
  text-align: center;
}

.data {
  text-align: end;
}

.unvalidated {
  color: var(--aviso-2);
}
