<div class="data-inputs">
  <div class="first-line">
    <input class="body-medium" type="text" placeholder="Código" />
    <input class="body-medium" type="text" placeholder="Item" />
    <!-- TODO mudar para dropdown -->
    <input class="body-medium" type="number" placeholder="Qtd." />
    <input class="body-medium" type="text" placeholder="Un." />
    <button class="delete-button body-medium" (click)="deleteThisSection()">
      <mat-icon class="material-icons-outlined"> remove </mat-icon>
    </button>
  </div>
  <div class="second-line">
    <input class="body-medium" type="text" placeholder="Justificativa" />
  </div>
</div>
