<div class="data-inputs">
  <div class="first-line">
    <mat-form-field class="input" appearance="outline">
      <input
        matInput
        type="number"
        class="number-input body-large"
        placeholder="Código"
      />
    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
      <input matInput type="text" class="body-large" placeholder="Item" />
    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
      <input
        matInput
        type="number"
        class="number-input body-large"
        placeholder="Qtd."
      />
    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
      <input matInput type="text" class="body-large" placeholder="Un." />
    </mat-form-field>
    <button
      class="delete-button body-medium"
      (click)="deleteThisSection()"
      *ngIf="!noDeleteButton"
    >
      <mat-icon class="material-icons-outlined"> remove </mat-icon>
    </button>
    <div *ngIf="noDeleteButton" class="no-delete-button"></div>
  </div>
  <div class="second-line">
    <mat-form-field class="input" appearance="outline">
      <input
        matInput
        type="text"
        class="body-large"
        placeholder="Justificativa"
      />
    </mat-form-field>
  </div>
</div>
