<div class="side-bar-container">
  <mat-toolbar class="mat-toolbar-column">
    <div class="top-content">
      <div>
        <img
          src="assets/logos/no-text-white.svg"
          alt=""
          (click)="returnPage()"
        />
      </div>
      <app-icon-button
        class="icon-button"
        [activated]="menusDrawer"
        (click)="toggleMenusDrawer()"
      >
        menu
      </app-icon-button>
      <app-icon-button
        class="icon-button"
        [activated]="filtersDrawer"
        *ngIf="!filtersHidden"
        (click)="toggleFiltersDrawer()"
      >
        filter_alt
      </app-icon-button>
      <app-icon-button
        class="icon-button"
        *ngIf="filtersHidden"
        (click)="returnPage()"
      >
        arrow_back
      </app-icon-button>
    </div>
    <span class="spacer"></span>
    <div class="bottom-content">
      <app-icon-button class="icon-button" (click)="openProfile()">
        person
      </app-icon-button>
      <app-icon-button class="icon-button" (click)="logOut()">
        logout
      </app-icon-button>
    </div>
  </mat-toolbar>

  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer1 class="drawer" mode="over" [opened]="menusDrawer">
      <div class="menus-drawer">
        <h2 class="drawer-title title-large">{{ this.roleName }}</h2>
        <hr class="drawer-line" />
        <ng-container *ngFor="let option of menuOptions">
          <ng-container *ngIf="option.authorized.includes(roleName)">
            <app-menu-option (click)="goToPage(option.page)">{{
              option.title
            }}</app-menu-option>
          </ng-container>
        </ng-container>
      </div>
    </mat-drawer>
  </mat-drawer-container>

  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer2 class="drawer" mode="over" [opened]="filtersDrawer">
      <div class="filters-drawer">
        <h2 class="drawer-title title-large">Filtros</h2>
        <hr class="drawer-line" />
        <div class="menu-option">
          <div class="filter-option">
            <h3 class="body-large">Unidade de Medida</h3>
            <mat-form-field class="select-input" appearance="outline">
              <mat-select [(ngModel)]="filtersInputs.un" placeholder="Selecione">
                <mat-option selected></mat-option>
                <mat-option value="ml">Mililitros</mat-option>
                <mat-option value="l">Litros</mat-option>
                <mat-option value="mg">Miligramas</mat-option>
                <mat-option value="gr">Gramas</mat-option>
                <mat-option value="kg">Kilogramas</mat-option>
              </mat-select>
              <button
                *ngIf="filtersInputs.un"
                matSuffix
                mat-icon-button
                (click)="filtersInputs.un = ''"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <hr class="drawer-line" />
          <div class="filter-option">
            <h3 class="body-large">Tag</h3>
            <mat-form-field class="select-input" appearance="outline">
              <mat-select [(ngModel)]="filtersInputs.tag" placeholder="Selecione">
                <mat-option selected></mat-option>
                <mat-option value="em">Estoque Mínimo</mat-option>
                <mat-option value="pf">Polícia Federal</mat-option>
                <mat-option value="pc">Polícia Civil</mat-option>
                <mat-option value="eb">Exército Brasileiro</mat-option>
              </mat-select>
              <button
                *ngIf="filtersInputs.tag"
                matSuffix
                mat-icon-button
                (click)="filtersInputs.tag = ''"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <hr class="drawer-line" />
          <div class="filter-option">
            <h3 class="body-large">Quantidade</h3>
            <div class="min-max">
              <mat-form-field class="min-max-input" appearance="outline">
                <input
                  matInput
                  placeholder="Min"
                  type="text"
                  class="number-input"
                  [(ngModel)]="filtersInputs.qtdMin"
                  mask="separator.4"
                  thousandSeparator="."
                  decimalMarker=","
                  maxlength="10"
                />
              </mat-form-field>
              <mat-form-field class="min-max-input" appearance="outline">
                <input
                  matInput
                  placeholder="Max"
                  type="text"
                  class="number-input"
                  [(ngModel)]="filtersInputs.qtdMax"
                  mask="separator.4"
                  thousandSeparator="."
                  decimalMarker=","
                  maxlength="10"
                />
              </mat-form-field>
            </div>
          </div>
          <!-- TODO adicionar filtragem por valor unitário -->
          <!-- <hr class="drawer-line" />
          <div class="filter-option">
            <h3 class="body-large">Valor Unitário</h3>
            <div class="min-max">
              <mat-form-field class="min-max-input" appearance="outline">
                <input
                  matInput
                  placeholder="Min"
                  type="number"
                  class="number-input"
                  [(ngModel)]="filtersInputs.vlrUnitMin"
                />
              </mat-form-field>
              <mat-form-field class="min-max-input" appearance="outline">
                <input
                  matInput
                  placeholder="Max"
                  type="number"
                  class="number-input"
                  [(ngModel)]="filtersInputs.vlrUnitMax"
                />
              </mat-form-field>
            </div>
          </div> -->
          <hr class="drawer-line" />
          <div class="filter-option">
            <h3 class="body-large">Valor Total</h3>
            <div class="min-max">
              <mat-form-field class="min-max-input" appearance="outline">
                <input
                  matInput
                  placeholder="Min"
                  type="text"
                  class="number-input"
                  [(ngModel)]="filtersInputs.vlrTotMin"
                  mask="separator.2"
                  thousandSeparator="."
                  decimalMarker=","
                  maxlength="10"
                />
              </mat-form-field>
              <mat-form-field class="min-max-input" appearance="outline">
                <input
                  matInput
                  placeholder="Max"
                  type="text"
                  class="number-input"
                  [(ngModel)]="filtersInputs.vlrTotMax"
                  mask="separator.2"
                  thousandSeparator="."
                  decimalMarker=","
                  maxlength="10"
                />
              </mat-form-field>
            </div>
          </div>
          <hr class="drawer-line" />
          <div class="filter-option">
            <h3 class="body-large">Localização no Estoque</h3>
            <mat-form-field class="text-input" appearance="outline">
              <input
                matInput
                placeholder="Localização"
                type="text"
                class="number-input"
                [(ngModel)]="filtersInputs.loc"
              />
              <button
                *ngIf="filtersInputs.loc"
                matSuffix
                mat-icon-button
                (click)="filtersInputs.loc = ''"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="filters-button">
            <app-normal-button [filled]="true" (click)="applyFilters()">
              Filtrar
            </app-normal-button>
            <app-normal-button (click)="cleanFilters()">
              Limpar Filtros
            </app-normal-button>
          </div>
        </div>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>
