.commentary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 470px;
  padding: 20px;

  .title {
    margin: 0;
  }

  .commentary {
    overflow-y: auto;
    box-sizing: border-box;
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    margin: 0;
    padding: 8px 16px;
    border: 0.5px solid var(--cinza-2);
    border-radius: 4px;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--cinza-1);
      border-radius: 4px;
    }
  }
}

::ng-deep .cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.7);
}