<div class="login-bg">
  <div class="container">
    <section class="login-container">
      <header class="login-header">
        <img src="/assets/logos/colored.png" alt="Logo do Biopark" />
      </header>
      <div class="login-content">
        <div class="content" [formGroup]="form">
          <mat-form-field appearance="outline">
            <mat-label>Usuário</mat-label>
            <input matInput placeholder="Informe seu RA ou E-mail ou CPF" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Informe seu Senha" />
          </mat-form-field>
          <hr />
          <app-normal-button
            [filled]="true"
            [matRippleDisabled]="!form.valid"
            [inactive]="!form.valid"
            customWidth="258px"
          >
          <!-- <app-normal-button
            (click)="form.valid ? login() : ''"
            [filled]="true"
            [matRippleDisabled]="!form.valid"
            [inactive]="!form.valid"
            customWidth="258px"
          > -->
            Entrar
          </app-normal-button>
          <app-normal-button customWidth="258px"> Cadastrar </app-normal-button>
          <p>Esqueceu sua senha?</p>
        </div>
      </div>
    </section>
  </div>
</div>
