<div class="page-container">
  <app-side-bar [filtersHidden]="true"/>
  <div class="page-content">
    <app-header [pageTitle]="pageTitle" />
    <div class="content-container">
      <app-data-inputs [noDeleteButton]="true"></app-data-inputs>
      <div *ngFor="let dataInput of dataInputs; let i = index">
        <app-data-inputs (delete)="deleteSection(i)"></app-data-inputs>
      </div>
      <div class="button-container">
        <button class="add-button body-medium" (click)="addNewSection()">
          <mat-icon class="material-icons-outlined"> add </mat-icon>
        </button>
      </div>
    </div>
    <div class="button-container">
      <app-normal-button (click)="saveWriteOff('100ms', '100ms')" [filled]="true">
        Salvar
      </app-normal-button>
    </div>
  </div>
</div>
