<div class="page-container">
  <app-sidebar [filtersHidden]="true" />
  <div class="main-content">
    <header class="header">
      <app-page-title [pageTitle]="pageTitle" />
      <mat-form-field class="search-input" appearance="outline">
        <mat-label>Pesquisar por Fornecedor ou Número</mat-label>
        <input
          matInput
          type="text"
          class="number-input"
          [(ngModel)]="search"
          (keyup.enter)="doSearch()"
        />
        <button
          *ngIf="this.search"
          matSuffix
          mat-icon-button
          (click)="clearSearchValue()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <button matSuffix mat-icon-button (click)="doSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </header>
    <div class="table-spacer">
      <div *ngIf="tableData.length !== 0" class="table-container">
        <div class="table-header">
          <p class="numero body-medium">Nº NF-e</p>
          <p class="razao body-medium">Fornecedor</p>
          <p class="cnpj body-medium">CNPJ</p>
          <p class="data body-medium">Data de Emissão</p>
          <p class="vinculados body-medium">Itens Vinculados</p>
        </div>
        <div
          *ngFor="let row of tableData"
          class="table-row"
          (click)="openEditItem(row)"
        >
          <p class="numero body-medium">{{ row.numero }}</p>
          <p class="razao body-medium">{{ row.emitente.razao_social }}</p>
          <p class="cnpj body-medium">
            {{ getFormattedCnpj(row.emitente.cnpj) }}
          </p>
          <p class="data body-medium">
            {{ getFormattedDate(row.data_emissao) }}
          </p>
          <p class="vinculados body-medium">{{ row.itens_vinculados }}</p>
        </div>
      </div>
      <div
        *ngIf="tableData.length === 0 && !loading && showSearchError"
        class="empty-container"
      >
        <mat-icon class="empty-icon">search</mat-icon>
        <h2 class="title-large">Nenhum item encontrado!</h2>
      </div>
      <div
        *ngIf="tableData.length === 0 && !loading && !showSearchError"
        class="empty-container"
      >
        <mat-icon class="empty-icon">web_asset_off</mat-icon>
        <h2 class="title-large">Nenhum item para ser exibido aqui!</h2>
      </div>
      <div *ngIf="loading" class="loading-container">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>
    </div>
    <app-paginator [data]="paginatorData" />

    <div class="button-container">
      <app-normal-button (click)="openNewItem()" [filled]="true">
        Incluir Novo
      </app-normal-button>
    </div>
  </div>
</div>
