@import "../../shared/styles/pages";

.numero {
  width: 70px;
}

.razao {
  width: 200px;
}

.cnpj {
  width: 160px;
}

.data {
  width: 110px;
}

.vinculados {
  width: 200px;
}

.data,
.cnpj,
.vinculados {
  text-align: center;
}
