.normal-button {
    outline: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: var(--base-branco);
    color: var(--cinza-3);
    cursor: pointer;
    border: 1px solid var(--cinza-2);
    border-radius: 100px;
}

.filled {
    background-color: var(--primaria-2);
    border: none;
    color: var(--base-branco);
}

.inactive {
    background-color: var(--cinza-2);
    color: var(--base-branco);
    cursor: auto;
}